/** @format */
/* ============== 
    RESET CSS 
================ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** @format */
h1 {
  font-size: 2.6rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

.main-heading {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .main-heading {
    font-size: 2rem;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

label {
  font-weight: 600;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

label.error {
  color: #ea6a47;
  font-size: 0.8rem;
  display: block;
}

input.valid.success-alert {
  border: 1px solid #33a852;
  color: #33a852;
}

input.error,
textarea.error {
  border: 1px dashed #ea6a47;
  font-weight: 600;
  color: #ea6a47;
}

/** @format */
@font-face {
  font-family: "graphik";
  src: url("/fonts/Graphik-Thin-Web.eot");
  src: url("/fonts/Graphik-Thin-Web.woff2") format("woff2"), url("/fonts/Graphik-Thin-Web.woff") format("woff");
}

body {
  font-family: "gtaphik", sans-serif;
  font-size: 0.8rem;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 1px;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0071e3;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  font-size: 0.8rem;
}

ul.type {
  margin-left: 1rem;
}

ul.type.disc {
  list-style-type: disc;
}

p {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

img {
  width: 100%;
}

img-round {
  border-radius: 50%;
}

.animate.bounce {
  animation: bounce 1s infinite alternate;
}

.ft-capitalize {
  text-transform: capitalize;
}

.ft-uppercase {
  text-transform: uppercase;
}

.ft-lower {
  text-transform: lowercase;
}

.ft-xxs {
  font-size: 0.7rem;
}

.ft-xs {
  font-size: 0.8rem;
}

.ft-sm {
  font-size: 0.9rem;
}

.ft-md {
  font-size: 1rem;
}

.ft-lg {
  font-size: 1.3rem;
}

.ft-xl {
  font-size: 2rem;
}

.ft-xxl {
  font-size: 2.6rem;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 800;
}

.ft-base {
  color: #f9f9f9 !important;
}

.ft-primary {
  color: #0071e3 !important;
}

.ft-primary-100 {
  color: rgba(0, 113, 227, 0.1);
}

.ft-primary-300 {
  color: rgba(0, 113, 227, 0.3);
}

.ft-primary-500 {
  color: rgba(0, 113, 227, 0.5);
}

.ft-primary-800 {
  color: rgba(0, 113, 227, 0.8);
}

.ft-secondary {
  color: #fbcb5f !important;
}

.ft-warning {
  color: #f9bb01 !important;
}

.ft-info {
  color: #0091d5 !important;
}

.ft-danger {
  color: #ea6a47 !important;
}

.ft-success {
  color: #33a852 !important;
}

.ft-dark {
  color: #1d1d20 !important;
}

.ft-light {
  color: #fff !important;
}

.ft-light-100 {
  color: rgba(255, 255, 255, 0.1);
}

.ft-light-300 {
  color: rgba(255, 255, 255, 0.3);
}

.ft-light-500 {
  color: rgba(255, 255, 255, 0.5);
}

.ft-light-800 {
  color: rgba(255, 255, 255, 0.8);
}

.ft-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  margin: 1rem 0;
}

hr.primary {
  border-color: #0071e3;
}

hr.base {
  border-color: #f9f9f9;
}

.text-center {
  text-align: center;
}

.skin-primary {
  background-color: #0071e3;
  color: #fff;
}

.skin-secondary {
  background-color: #fbcb5f;
  color: #1d1d20;
}

.skin-acent {
  background-color: #ece5db;
  color: #1d1d20;
}

.skin-light {
  background-color: #fff;
  color: #1d1d20;
}

.skin-dark {
  background-color: #1d1d20;
  color: #fff;
}

.skin-base {
  background-color: #f9f9f9;
  color: #1d1d20;
}

.skin-success {
  background-color: #33a852;
  color: #fff;
}

.skin-danger {
  background-color: #ea6a47;
  color: #fff;
}

/** @format */
.v-btn {
  display: inline-block;
  color: #0071e3;
  padding: 0 2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.8rem;
  white-space: nowrap;
  font-weight: 300;
  outline: none;
  transition: all 0.2s ease-in;
  line-height: 40px;
  border: 1px solid transparent;
}

.v-btn.btn-animate {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.v-btn.btn-animate .btn-icon {
  opacity: 0;
  margin-left: -10px;
  transition: all 0.3s ease-out;
}

.v-btn.btn-animate::after {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "";
  background-color: #f9bb01;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  z-index: -1;
}

.v-btn.btn-animate:hover::after {
  width: 100%;
}

.v-btn.btn-animate:hover .btn-icon {
  opacity: 1;
  margin-left: 10px;
}

.v-btn.not-allowed {
  cursor: text;
}

.v-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.v-btn:focus {
  outline: none;
}

.v-btn:hover {
  text-decoration: none;
}

.v-btn.btn-block {
  text-align: center;
}

.v-btn.btn-sm {
  line-height: 25px;
}

.v-btn.btn-shadow {
  box-shadow: 1px 1px 2px rgba(29, 29, 32, 0.3);
}

.v-btn span {
  margin-left: 0.5rem;
}

.v-btn.btn-lg {
  padding: 0.6rem 2rem;
}

.v-btn.round-btn {
  border-radius: 30px;
}

.v-btn.v-btn-acent {
  background-color: #ece5db;
  color: #1d1d20;
}

.v-btn.v-btn-acent.invert {
  background-color: #ece5db;
  color: #1d1d20;
  border-color: #dacdba;
}

.v-btn.v-btn-base {
  background-color: #f9f9f9;
  color: #1d1d20;
}

.v-btn.v-btn-base.invert {
  background-color: #f9f9f9;
  color: #1d1d20;
  border-color: #e0e0e0;
}

.v-btn.v-btn-primary {
  background-color: #0064ca;
  color: #fff;
  color: #fff;
}

.v-btn.v-btn-primary.invert {
  background-color: #fff;
  color: #0071e3;
  border-color: #0071e3;
}

.v-btn.v-btn-primary.transparent {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

.v-btn.v-btn-secondary {
  background-color: #fbcb5f;
  color: #1d1d20;
}

.v-btn.v-btn-secondary.invert {
  background-color: #fff;
  color: #fbcb5f;
  border-color: #fbcb5f;
}

.v-btn.v-btn-dark {
  background-color: #1d1d20;
  color: #fff;
}

.v-btn.v-btn-dark.invert {
  background-color: #fff;
  color: #1d1d20;
  border-color: #1d1d20;
}

.v-btn.v-btn-light {
  background-color: #fff;
  color: #1d1d20;
  color: #0071e3;
}

.v-btn.v-btn-light.invert {
  background-color: #fff;
  color: #1d1d20;
  border-color: rgba(29, 29, 32, 0.1);
}

.v-btn.v-btn-success {
  background-color: #33a852;
  color: #fff;
}

.v-btn.v-btn-success.invert {
  background-color: #fff;
  color: #33a852;
  border-color: #33a852;
}

.v-btn.v-btn-info {
  background-color: #0091d5;
  color: #fff;
  color: #fff;
}

.v-btn.v-btn-info.invert {
  background-color: #fff;
  color: #0091d5;
  border-color: #0091d5;
}

.v-btn.v-btn-warning {
  background-color: #f9bb01;
  color: #fff;
}

.v-btn.v-btn-warning.invert {
  background-color: #fff;
  color: #f9bb01;
  border-color: #f9bb01;
}

.v-btn.v-btn-danger {
  background-color: #ea6a47;
  color: #fff;
}

.v-btn.v-btn-danger.invert {
  background-color: #fff;
  color: #ea6a47;
  border-color: #ea6a47;
}

.icon {
  height: 25px;
  width: 25px;
  color: rgba(29, 29, 32, 0.3);
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
}

.icon i {
  line-height: 25px;
}

.icon .round {
  border-radius: 50%;
}

.icon.icon-xs {
  width: 15px;
  height: 15px;
}

.icon.icon-xs i {
  line-height: 15px;
}

.icon.icon-sm {
  width: 25px;
  height: 25px;
}

.icon.icon-sm i {
  line-height: 25px;
}

.icon.icon-md {
  width: 35px;
  height: 35px;
}

.icon.icon-md i {
  line-height: 35px;
}

.icon.icon-base {
  background-color: #f9f9f9;
  color: #1d1d20;
}

.icon.icon-base.invert {
  background-color: transparent;
  color: #e0e0e0;
  border-color: #ececec;
}

.icon.icon-primary {
  background-color: #0071e3;
  color: #fff;
  color: #fff;
}

.icon.icon-primary.invert {
  background-color: transparent;
  color: #0071e3;
  border-color: #0071e3;
}

.icon.icon-secondary {
  background-color: #fbcb5f;
  color: #1d1d20;
}

.icon.icon-secondary.invert {
  background-color: transparent;
  color: #fbcb5f;
  border-color: #fbcb5f;
}

.icon.icon-info {
  background-color: #0091d5;
  color: #fff;
}

.icon.icon-info.invert {
  background-color: transparent;
  color: #0091d5;
  border-color: #0091d5;
}

.icon.icon-success {
  background-color: #33a852;
  color: #fff;
}

.icon.icon-success.invert {
  background-color: transparent;
  color: #33a852;
  border-color: #33a852;
}

.icon.icon-warning {
  background-color: #f9bb01;
  color: #fff;
}

.icon.icon-warning.invert {
  background-color: transparent;
  color: #f9bb01;
  border-color: #f9bb01;
}

.icon.icon-danger {
  background-color: #ea6a47;
  color: #fff;
}

.icon.icon-danger.invert {
  background-color: transparent;
  color: #ea6a47;
  border-color: #ea6a47;
}

.icon.icon-light {
  background-color: #fff;
  color: #1d1d20;
}

.icon.icon-light.invert {
  background-color: transparent;
  color: #e0e0e0;
  border-color: #ececec;
}

.icon.icon-dark {
  background-color: #1d1d20;
  color: #fff;
}

.icon.icon-dark.invert {
  background-color: transparent;
  color: #1d1d20;
  border-color: #1d1d20;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img.why-join-bg-img {
  background-image: linear-gradient(rgba(255, 255, 255, 0.98), rgba(197, 239, 226, 0.88)), url(../assets/why-us-bg.jpeg);
}

.bg-img.live-with-us-bg {
  background-image: url(../assets/live.jpeg);
  height: 800px;
  background-position: top;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.container .row {
  display: flex;
  justify-content: space-between;
}

header {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0rem;
}

header .logo {
  font-size: 1.3rem;
  font-weight: 700;
}

header a {
  color: #1d1d20;
  padding: 0 1rem;
}

.banner {
  padding: 3rem 0 2rem 0;
  text-align: center;
}

.banner .banner-content {
  max-width: 700px;
  margin: 0 auto;
  font-weight: 600;
  line-height: 40px;
}

.banner .say-hello {
  opacity: 0;
}

.banner .pricing {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 400;
  color: #0071e3;
  opacity: 0;
}

.banner .watch-event {
  font-size: 1.3rem;
  opacity: 0;
}

.cc {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.cc .scaleDown {
  width: 120vw;
  height: 120vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: scale(2);
  background-image: url(../assets/banner-img-4.jpeg);
  transform-origin: 50% 10%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.color-varients {
  padding: 3rem 0 2rem 0;
}

.color-varients h4 {
  font-weight: 700;
  font-size: 2.6rem;
}

.color-varients .animated-title {
  max-width: 400px;
  display: flex;
  align-items: center;
}

.color-varients .animated-title p {
  font-size: 2rem;
  font-weight: 700;
}

.v-slider-frame {
  height: 50px;
  overflow: hidden;
  margin-left: 10px;
}

ul.v-slides {
  list-style-type: none;
  transform: translateY(50px);
  padding: 0;
}

.v-slide {
  font-size: 2rem;
  line-height: 50px;
  color: #ea6a47;
  font-weight: 700;
}

.running-video {
  padding: 0;
  position: relative;
}

.running-video .play-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 200;
}

.thin-display .scale-title-box {
  height: 60vh;
  position: relative;
}

.thin-display .scale-title-box .scale-title {
  font-size: 3rem;
  font-weight: 700;
  max-width: 100px;
  margin: 0 auto;
  line-height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: scale(1);
  transform-origin: 10% 70%;
}

.thin-display .desktop-view-container {
  display: flex;
  height: 100vh;
}

.thin-display .desktop-view-container .desktop-content-left {
  flex: 1 1 30%;
  margin-bottom: auto;
  margin-top: 300px;
}

.thin-display .desktop-view-container .desktop-content-left .h2,
.thin-display .desktop-view-container .desktop-content-left .h3 {
  opacity: 0;
}

.thin-display .desktop-view-container .desktop-content-left img {
  width: 100px;
}

.thin-display .desktop-view-container .desktop-side-view {
  flex: 1 1 40%;
  max-width: 300px;
}

.thin-display .desktop-view-container .desktop-content-right {
  margin-top: auto;
  flex: 1 1 30%;
}

.thin-display .desktop-view-container .desktop-content-right img {
  width: 100px;
}
/*# sourceMappingURL=main.css.map */